#app .app-header {
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  -webkit-app-region: drag;
  padding: 10px;
  padding-bottom: 20px;
  text-align: right;

  .no-drag {
    -webkit-app-region: no-drag;
  }

  .app-header-left,
  .app-header-right {
    display: flex;
    align-items: center;
    height: 32px;
  }

  .window-ctrl-popover {
    display: inline-flex;
    align-items: center;
  }

  .app-header-close-btn {
    padding: 7px 12px !important;
    cursor: pointer;

    &:hover {
      background-color: #e81123 !important;
      color: #fff;
    }
  }

  .app-header-show {
    padding: 8px 12px !important;
    cursor: pointer;
  }

  .app-header-button {
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 32px;
    min-width: 36px;
    padding: 0 !important;
    cursor: pointer;
    margin-left: 10px !important;
    line-height: 1;
    text-align: center;
    vertical-align: top;

    i,
    svg,
    .icon {
      display: block;
      flex: 0 0 auto;
      line-height: 1;
    }

    i::before {
      display: block;
      line-height: 1;
    }

    &.app-header-reset {
      width: 36px;

    }

    &.app-header-star {
      width: 32px;
      min-width: 32px;
      padding: 0 0 !important;
      margin-left: 0 !important;
    }
  }

  .app-header-close-btn {
    padding: 0 !important;
  }
}

.help-wrap {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .help-list {
    overflow-y: auto;

    .db-collapse-item__content {
      padding-right: 15px;
      text-align: justify;
    }
  }
}

.star-popover {
  left: 10px !important;

  .popper__arrow {
    left: 8px !important;
  }
}

.help-popover {
  left: 10px !important;

  .popper__arrow {
    left: 54px !important;
  }
}

.app-header-star-content {
  width: 360px;

  .star-item {
    padding: 10px 0;
    text-align: center;
    display: block;
    margin-left: 0;

    &:first-child {
      margin-top: 0;
    }

    &:nth-child(n) {
      margin-top: 10px;
    }

    .star-item-head {
      text-align: center;
      margin-bottom: 4px;
      font-weight: bold;
    }

    .star-item-content {
      text-align: center;
    }

    .zan-item {
      display: inline-block;

      &:first-of-type {
        margin-right: 8px;
      }

      .zanshang {
        border-radius: 4px;
        display: block;
        width: 170px;
        margin-bottom: 8px;
      }
    }
  }

  .group-chat {
    user-select: text;

    &::selection {
      background-color: var(--active-color);
      color: var(--bg-color);
    }
  }
}
